@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-55Roman.otf') format('otf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-65Medium.otf') format('otf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-75Bold.otf') format('otf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-55RomanItalic.otf') format('otf');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-65MediumItalic.otf') format('otf');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-75BoldItalic.otf') format('otf');
	font-weight: 700;
	font-style: italic;
}

* {
	box-sizing: border-box;
}

img {
	width: 100%;
}

:root {
	--type-s: 10px;
	--type-s-leading: 13px;
	--type-m: 13px;
	--type-m-leading: 16px;
	--type-l: 19px;
	--type-l-leading: 24px;
	--margin: 10px;
	--space-s: 5px;
	--space-m: 10px;
	--space-l: 22px;
	--space-xl: 40px;
	--border-radius: 0.3rem;
	--grey: #e8e4e3;
}

@media screen and (max-width: 640px) {
	:root {
		--gridspace: 3px;
		--gridspace2: 60px;
		--type-l: 16px;
		--type-l-leading: 20px;
	}
}

@media screen and (min-width: 1900px) {
	:root {
		--gridspace: 3px;
		--gridspace2: 60px;
		--type-l: 26px;
		--type-l-leading: 31px;
	}
}

body {
	font-family: 'HG', Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	font-weight: 600;
	font-style: normal;
	background-color: white;
	color: black;
	font-size: var(--type-m);
	line-height: var(--type-m-leading);
	overflow: hidden;
	-webkit-font-smoothing: antialiased !important;
}

body,
.page,
#_nuxt,
.wrapper {
	overflow: hidden;
}
::selection {
	background: lightblue;
	color: darkblue;
}
html::-webkit-scrollbar {
	display: none;
}
html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#__nuxt::-webkit-scrollbar {
	display: none;
}

#__nuxt > div {
	display: grid;

	& > *:not(a) {
		grid-area: 1/1;
	}
}

#__nuxt,
.page {
	overflow: hidden;
}

.page {
	max-height: 100vh;
	color: white;
}

* {
	/* outline: solid 1px red; */
}

@media screen and (max-width: 640px) {
	body {
		overflow: scroll;
	}
}

.pagetransition-enter-active,
.pagetransition-leave-active {
	transition: opacity 0.4s ease;
}

.pagetransition-enter-from,
.pagetransition-leave-to {
	opacity: 0;
}

a {
	color: white;
	text-decoration: none;
}

.type-l {
	font-size: var(--type-l);
	line-height: var(--type-l-leading);
}

input {
	outline: 0;
	stroke: 0;
	border: 0;
	border-radius: var(--border-radius);
	padding: 3px 5px;
	transition: all ease-in-out 0.6s;
	transition-delay: 0s;
	&:hover {
		transition-delay: 0.1s;
	}
}
input.text {
	background-color: rgba(255, 255, 255, 0.25);
	padding-left: var(--space-s);
	color: white;
	border-radius: var(--border-radius);
	&:hover {
	}
	&:focus {
		border-bottom: white 2px solid;
		background-color: rgba(255, 255, 255, 0.45);
	}
}

input.text::placeholder {
	color: lightgrey;
	opacity: 1; /* Firefox */
	transition: all ease-in-out 0.6s;
}
input.text:hover::placeholder {
	color: white;
	transition: all ease-in-out 0.6s;
}

input.btn {
	background-color: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.9);
	color: lightgrey;
	cursor: pointer;
	padding-left: var(--space-l);
	padding-right: var(--space-l);

	&:hover {
		background-color: rgba(255, 255, 255, 0.5);
		color: rgba(255, 255, 255, 0.9);
	}
}
